//Global

@import "./lib/vars";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: $font-base;
}

p {
  font-size: 18px;
}

figure {
  margin: 0;
}

#main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card {
  background-color: $bg-color-card;
  height: 450px;
  width: 310px;
  padding: 1.5rem;
  color: $color-white;
  border-radius: 10px;
  transition: 0.3s;
  // box-sizing: border-box;

  &_figure {
    width: 100%;
    overflow: hidden;
    margin: 0;
    border-radius: 10px;
    height: 60%;
    transition: 0.3s;
    position: relative;
    transition: 0.3s;
  }

  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_content {
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding-bottom: 1rem;

    & p {
      font-weight: 300;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.5);
    }

    &_time {
      display: flex;
      justify-content: space-between;
    }
  }

  &_footer {
    padding: 0.5rem 0rem 1rem 0rem;
    display: flex;
    align-items: center;

    figure {
      width: 25px;
      border: 1px solid $color-white;
      height: 25px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 0.5rem;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    div {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
    }

    .author {
      color: $color-white;
    }
  }
}

.price {
  color: $color-cyan;
}

.time span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  // display: inline-block;
  // width: 40%;
  border: 1px solid transparent;
  // text-align: right;
}

.time,
.price {
  display: flex;
  align-items: center;

  & img {
    margin-right: 0.3rem;
  }
}

h3,
.author,
.card_figure {
  transition: 0.3s;
  cursor: pointer;
}

.author:hover,
h3:hover {
  color: $color-cyan;
}

.card_figure:hover .overlay {
  display: flex;
}

.overlay {
  background-color: $color-cyan;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 255, 247, 0.5);
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.3s;
  // opacity: 0.4;
}

@media only screen and (max-width: 425px) {
  .card {
    background-color: $bg-color-card;
    height: 400px;
    width: 260px;
    padding: 1rem;
  }

  p {
    font-size: 14px;
  }

  h3,
  p {
    margin: 0.5rem 0;
  }
}
